extends extends/layout.pug
include mixins/section.pug

block content
  +section('contact')
    h4 Contact
    div(class='text')
      p
        | Any question? Interested on hiring me or just want to talk? Feel free to send a message, I'll reply as soon as possible.
    a(href='mailto:hello@julenlanda.com') Contact me
