.cookie-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $reverse-bg-color;
  color: $reverse-color;
  padding-left: 20px;
  padding-right: 20px;

  p {
    float: left;
  }

  #cookie-bar-ok {
    float: right;
    cursor: pointer;
    margin-top: 16px;
    color: #fff;
  }
}
